

<html>
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> User Page</h2>
      
  
      <!-- Icon -->
      <div class="fadeIn first">
        <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <br/>
        <br/>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <br/>
        <br/>
        <br/>
        <!-- <input type="submit" class="fadeIn fourth" value="Log In"> -->
        <div class="text-center">
            <button class="btn btn-outline-danger" type="reset">Cancel</button>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-outline-danger" type="submit">Save</button> 
           
     
          </div>
      </form>
      <br/>
        <br/>
        <br/>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Have a Good Day</a>
      </div>
  
    </div>
  </div>
</html>